oauth:
  consumer_key:        ""
  consumer_secret:     ""
  access_token:        ""
  access_token_secret: ""

# トレンドを取得する際のエリア（ここでは日本を指定）
woeid: 23424856

# folllow.rb での強制フォロー・強制リムーブしたい user_id
users:
  follow:
  remove:
